@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.animate-fade-in {
  animation: fadeIn 0.1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-scrollbar {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
